extends layout
mixin color-list2(r,name)
  tr
    td= name
    td= "{{"+r+".red}}"
    td= "{{"+r+".green}}"
    td= "{{"+r+".cyan}}"
    td= "{{"+r+".purple}}"
    td= "{{"+r+".magenta}}"
    td= "{{"+r+".black}}"
    td= "{{"+r+".total}}"
mixin color-list(r,disabled,total)
  .row
    .col-sm-10
      .row
        +color-field(r, "紅色", "red", disabled)
        +color-field(r, "綠色", "green", disabled)
        +color-field(r, "水藍色", "cyan", disabled)
        +color-field(r, "紫色", "purple", disabled)
        +color-field(r, "紫紅色", "magenta", disabled)
        +color-field(r, "黑色", "black", disabled)
    if total
      +color-field(r, "總計", "total", disabled="true")

mixin color-field(r, c1, c2,disabled)
  .col-sm-2.form-group
    label= c1
    input.form-control(type="text",name=c2,value="0",ng-model=r+"."+c2,disabled=disabled)
block pre-content
  script(type="text/javascript",src="js/admin.js")
block content
  div.static-content
    .panel.panel-primary.thick(ng-controller="stock")
      .panel-heading 商品進貨數量與訂價
      .panel-body
        form(method="POST",action="/api/admin/stock")
          h4 進貨數量
          +color-list("stock.count",false,true)
          h4 訂價
          +color-list("stock.price",false,false)
          .btn.btn-primary.btn-block(ng-click="update()") 
            | 送出修改
            ldstate.inline(ng-model="state.value")
    .panel.panel-info.thick(ng-controller="sales")
      .panel-heading 銷售狀況
      .panel-body
        table.salestable
          tr
            th 分類
            th 紅色
            th 綠色
            th 藍色
            th 紫色
            th 紫紅色
            th 黑色
            th 總計
          +color-list2("init","建立中")
          +color-list2("confirm","待付款")
          +color-list2("paid","已付款")
          +color-list2("shipped","已出貨")
          +color-list2("avail","剩餘存貨")

    .panel.panel-warning.thick(ng-controller="order")
      .panel-heading 訂單內容
      .panel-body
        table.table.table-striped
          tr
            th 編號
            th 姓名
            th 地址
            th 電話
            th 紅
            th 綠
            th 藍
            th 紫
            th 紫紅
            th 黑
            th 狀態
            th 金額
            th 出貨
          tr.order(ng-repeat="o in order")
            td(ng-click="show(o)") {{o.init.MerchantTradeNo}}
            td: a(href="mailto:{{o.info.email}}") {{o.info.name}}
            td {{o.info.addr}}
            td {{o.info.phone}}
            td {{o.info.count.red}}
            td {{o.info.count.green}}
            td {{o.info.count.cyan}}
            td {{o.info.count.purple}}
            td {{o.info.count.magenta}}
            td {{o.info.count.black}}
            td {{o.state|orderState}}
            td {{o.init.TotalAmount}}
            td: i.glyphicon.glyphicon-tag(ng-show="o.state!=3",ng-click="ship(o)")
      #detail.modal.fade
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              button.close(type="button",data-dismiss="modal"): span &times;
              h4 訂單編號 {{corder.orderId}}
            .modal-body
              p(ng-show="corder.info")
                h4 訂單基本資訊
                ul
                  li 姓名 / {{corder.info.name}}
                  li 地址 / {{corder.info.addr}}
                  li 電話 / {{corder.info.phone}}
                  li 信箱 / {{corder.info.email}}
                  li 數量 /
                    span 紅 {{corder.info.count.red}}
                    span  / 
                    span 綠 {{corder.info.count.green}}
                    span  / 
                    span 藍 {{corder.info.count.blue}}
                    span  / 
                    span 紫 {{corder.info.count.purple}}
                    span  / 
                    span 紫紅 {{corder.info.count.magenta}}
                    span  / 
                    span 黑 {{corder.info.count.black}}
                  li 狀態 / {{corder.state|orderState}} ( {{corder.state}} )
                  li 建立時間 / {{corder.init.MerchantTradeDate}}
                  li 金額 / {{corder.init.TotalAmount}}
              p(ng-show="corder.confirm")
                h4 訂單確認資訊 (付款方式確認產生)
                ul
                  li 回傳代碼 / {{corder.confirm.RtnCode}} / {{corder.confirm.RtnMsg}}
                  li 歐付代碼 / {{corder.confirm.TradeNo}}
                  li 交易金額 / {{corder.confirm.TradeAmt}}
                  li 付款方式 / {{corder.confirm.PaymentType}}
                  li 確認日期 / {{corder.confirm.TradeDate}}
                  li 有效期限 / {{corder.confirm.ExpireDate}}
                  li(ng-show="corder.confirm.PaymentType=='ATM'") 銀行代碼 / {{corder.confirm.BankCode}} / {{corder.confirm.vAccount}}
                  li(ng-show="corder.confirm.PaymentType=='CVS' || corder.confirm.PaymentType=='BARCODE'")
                    | 條碼 / {{corder.confirm.Barcode1}} / {{corder.confirm.Barcode2}} / {{corder.confirm.Barcode3}} 
              p
                h4 付款確認資訊
              p {{corder}}
            .modal-footer
              .btn.btn-default(data-dismiss="modal") close
  script(type="text/javascript",src="js/admin.js")

